:root {
    --primary-color: #f10a0a;
    --dark-grey: #2c2c2c;
    --light-grey: #f4f4f4;
    --font-large: 48px;
    --header-bg-color: #e70909;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light-grey);
}

header {
    background-color: var(--dark-grey);
    width: 100%;
    height: 80px;
}

nav {
    margin-right: 30px;
    float: right;
    padding: 15px 20px 20px;
    display: flex;
    position: relative;
    bottom: 80px;
    margin-bottom: -80px;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid;
    font-size: 18px;
    padding: 3px 5px;
    margin: 5px;
}

.name {
    background-color: var(--primary-color);
    padding: 1px 15px 1px 55px;
    margin-top: 10px;
    position: relative;
    font-size: var(--font-large);
    text-align: right;
    float: left;
    width: 300px;
    color: var(--dark-grey);
}

.subtitle {
    position: relative;
    color: var(--dark-grey);
    background-color: var(--primary-color);
    padding: 10px;
    float: right;
    bottom: 80px;
    right: 60px;
    font-size: 28px;
}

main {
    width: 100%;
}

.float-left {
    float: left;
    margin: 5px 15px 20px 5%;
    width: 10%;
    text-align: right;
    color: var(--header-bg-color);
    font-size: 2.5vw;
}

#about-me {
    padding-top: 50px;
    width: 100%;
}

.about-me {
    border-left: 4px solid var(--header-bg-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 80%;
}

.introduction {
    display: flex;
    margin-left: 5%;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
}

p {
    font-family: 'Gill Sans';
    font-weight: lighter;
    font-size: 18px;
    padding: 8px 0;
}

#projects {
    padding-top: 50px;
    width: 100%;
}

.projects {
    border-left: 4px solid var(--header-bg-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 80%;
}

#contact-me {
    padding-top: 50px;
    width: 100%;
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    width: 80%;
    padding: 10px 0;
}

.contact-me{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-me {
    padding: 10px 0;
}